* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* Navbar-------------------------------------------------- */

.navbar-2nd {
  background: #343a40;
  height: 12vh;
  display: flex;
}
.nav-links {
  position: relative;
  left: 6%;
  display: flex;
  width: 80%;
}

.nav-links li {
  list-style: none;
  padding: 20px 30px 59px 30px;
}

.nav-links a {
  font-size: 20px;
  color: #ffffff80;
  text-decoration: none;
}

.nav-links li:hover {
  transition: 0.5s;
  background-color: rgb(192, 124, 135);
}

.nav-links a:hover {
  color: black;
  transition: 0.5s;
}

.burger {
  display: none;
}

.burger {
  align-self: center;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1025px) {
  .navbar-2nd {
    height: 14vh;
  }

  .nav-links li {
    padding-bottom: 70px;
  }
}

@media screen and (max-width: 780px) {
  .carousel-indicators {
    display: none;
  }

  body {
    overflow-x: hidden;
  }

  .nav-links {
    z-index: 2;
    width: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 43%;
    height: 112vh;
    background: #343a40;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    position: relative;
    left: -2%;
    opacity: 0;
  }

  .burger {
    position: absolute;
    right: 50%;
    z-index: 2;
    display: block;
    cursor: pointer;
  }
}

@media screen and (max-width: 575px) {
  .nav-links li {
    left: -2%;
  }
}

.nav-active {
  display: flex;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* ------------------------------------------------------ */
/* Banner------------------------------------------------- */

.banner {
  height: 17vh;
  background-color: rgb(192, 124, 135);
  display: flex;
}

.title {
  margin: auto;
  font-family: "Quicksand", sans-serif;
  font-size: 45px;
}

/* Logo---------------------------------------------------- */

.logo-cart {
  height: 30vh;
  background-color: rgb(190, 223, 190);
}

.logo-cart img {
  margin: 50px 100px;
  border: 2px solid rgb(84, 177, 84);
  height: 110px;
  width: 110px;
}

.logo-cart button {
  float: right;
  margin: 80px 100px 40px 100px;
}
@media screen and (max-width: 700px) {
  .logo-cart img {
    margin: 40px 40px;
  }
}

/* ------------------------------------------------------ */
/* Cards------------------------------------------------------*/

.cntfrt{
  display: flex;
}

.cnt {
  margin: auto;
  display: grid;
  width: 70%;
  margin-top: 30px;
  margin-bottom: 30px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}

.card-title{
  font-family: 'Roboto', sans-serif;
}

.card-text{
  font-family: 'Roboto', sans-serif;
  color: rgb(252, 78, 107);
}

/* ----------------------------------------------------------- */
/* Footer----------------------------------------------------- */


.foot {
  background: #343a40;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  height: 49vh;
}

.first {
  width: 300px;
  height: 300px;
  grid-column: 2/3;
}

.foot-img {
  height: 60px;
  width: 60px;
  margin: 12px;
}

.first p {
  font-size: 15px;
  color: #ffffff80;
}

.icons i {
  margin: 5px;
  color: rgb(124, 124, 230);
}

.second {
  margin: 10px;
  width: 200px;
  height: 300px;
  font-family: "Quicksand", sans-serif;
  color: #ffffff80;
  grid-column: 3/4;
  font-size: 10px;
}
.second h1 {
  font-size: 25px;
}

#third {
  grid-column: 4/5;
}

.fourth {
  margin: 10px;
  width: 200px;
  height: 300px;
  font-family: "Quicksand", sans-serif;
  color: #ffffff80;
  grid-column: 5/6;
  font-size: 10px;
}

@media screen and (max-width: 980px) {
  .foot {
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  #third {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .fourth {
    grid-column: 3/4;
    grid-row: 2/3;
  }
}

@media screen and (max-width: 580px) {
  .foot {
    height: 210vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .first {
    margin: 20px;
    grid-column: 1/2;
  }

  .second {
    margin: 20px;
    grid-column: 1/2;
    grid-row: 2/3;
  }

  #third {
    margin: 20px;
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .fourth {
    margin: 20px;
    grid-column: 1/2;
    grid-row: 4/5;
  }
}


/* Responsive Mobile---------------------------------------- */

@media only screen and (max-width: 580px) {
  .logo-cart button {
    margin: 40px 20px;
  }
}
@media screen and (max-width: 540px){
  .nav-links{
    height: 100vh;
  }
}

@media screen and (max-width: 375px){
  .nav-links{
    height: 110vh;
  }
}

@media screen and (max-width: 360px){
  .nav-links li{
    left: -3%;
  }
}